<div id="menSubCategory" ng-controller="menSubCategoriesCtrl">

<table>
    <tr>
        <td colspan="2" class="header">
            <h1>Start Here</h1>
        </td>
    </tr>

	<tr>
		<td>
		<button ng-click="tshirtFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="TShirt" width="350" height="300" src='../resources/men/tshirt.jpg'>
			<label>TShirt</label
		</button>
        
		<button ng-click="sweatShirtFunc()" class="btn btn-default btn-circle btn-xl">
			<img class='img-circle' alt="SweatShirt" width="350" height="300" src='../resources/men/sweatshirt.jpg'>
			<label>SweatShirt</label
		</button>
        </td>
	</tr>
</table>
</div>
